{% extends "wealthmap/base.html" %}
{% load i18n widget_tweaks %}
{% block title %}Opportunities Search{% endblock %}
{% block header %}Opportunity Search{% endblock %}
{% block subhead %}
	Resource Matching is a tool made by CfA for local businesses.
	These include grants, training, mentorship, and more.
	Answer a few questions about your business and we'll
	tell you what you're eligible for.
{% endblock %}
{% block content %}


<form action="" method="post">
	{% csrf_token %}

	<strong>
		<legend>Which types of business are you?</legend>
	</strong>
	<p>Pick which terms describe your industry. You can choose more than one.</p>
	<div class="grid with-padding-large">
		{% for item in form.industries %}
			<div class="grid__item width-one-half {% cycle '' 'end-row' %}">
				<label class="radio-button">
					{{ item }}
				</label>
			</div>
		{% endfor %}
	</div>

	<strong>
		<label>Is this a personal investment?</label>
	</strong>
	<p>Are you self-funded or do you receive outside funding?</p>
	<div class="grid with-padding-large">
		{% for item in form.personal_investment %}
			<label class="radio-button">
				{{ item }}
				Yes, I am a self-funded business.
			</label>
		{% endfor %}
	</div>

	<strong>
		<label>What stage are you at?</label>
	</strong>
	<p>Tailor your results to the stage of your business.</p>
	<div class="grid with-padding-large">
		{% for item in form.existing_business %}
			<div class="grid__item width-one-third {% cycle '' '' 'end-row' %}">
				<label class="radio-button">
					{{ item }}
				</label>
			</div>
		{% endfor %}
	</div>

	<strong><label>What are you looking for?</label></strong>
	<p>Narrow down your results by choosing which type of resources you're interested in.
	You can pick as many as you like.</p>
	<div class="grid with-padding-large">
	{% for item in form.purposes %}
		<div class="grid__item width-one-half {% cycle '' 'end-row' %}">
			<label class="radio-button">
				{{ item }}
			</label>
		</div>
	{% endfor %}
	</div>

	<div class="form-card__footer">
		<input type="submit" value="{% trans 'Search' %}" class="button button--large button--primary" />
	</div>
</form>
{% endblock %}
