doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title
      block title
        #{title} | PrimerPeso
    - load staticfiles
    - load compress
    - compress css
      link(rel='stylesheet', type="text/less", href='/static/primerpeso/css/styles.less'))
      link(rel='stylesheet', type="text/less", href='/static/primerpeso/css/lib/bootstrap-switch.css'))
    block head
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
  body(class=bodyClass)
    #wrap
      .navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/about') Sobre PrimerPeso
              li
                a(href='/contact') ¿Eres una agencia?
      .container
        block content
    script(src="https://code.jquery.com/jquery-2.1.4.min.js", integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(src="{% static 'primerpeso/js/lib/bootstrap-switch.js' %}")
    block footer
    include primerpeso/partials/footer.jade
    include primerpeso/partials/analytics.jade
