{% extends 'primerpeso/layout.jade' %}
{% load i18n %}
{% block content %}
<div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="row row-incentive">
        <div class="col-md-8 col-description col-9">
          <a class="btn btn-small addItem" data-bname="9" data-btype=
          "incentive" href="#9Add">agregar</a><a class="benefit-title"
          data-parent="#accordion" data-toggle="collapse" href=
          "#1">Incentivos contributivos y gestoría<i class=
          "fa fa-sort-desc"></i></a>
          <div class="panel-collapse" id="1">
            <div class="panel-body">
              <div class="9-inner-text benefit-description">
                <ul class=
                "benefit-info-list accordion-panel-render-list">
                  <!-- Opportunity-->
                  <li>
                    <h4>Descripción</h4>
                    <div class="panel-section-inner">
                      The new Incentives Code provides fiscal benefits
                      for activities developed in specific areas such
                      as the special development zone of the
                      Traditional Urban Center and the Special
                      Development Corridors, among others which due to
                      their potential for growth and their impact on
                      the economy as a whole are considered a priority.
                      In addition, it provides benefits to more than 21
                      types of eligible units or businesses.
                    </div>
                  </li>
                  <li>
                    <h4>Costo de Solicitud</h4>
                    <div class="panel-section-inner">
                      200
                    </div>
                  </li>
                  <li>
                    <h4>Informacion Adicional</h4>
                    <div class="panel-section-inner">
                      Disqualifying factors: companies already
                      established in the city that are not planning to
                      grow.
                    </div>
                  </li><!-- Agency-->
                  <li>
                    <h4>Nombre De Agencia</h4>
                    <div class="panel-section-inner">
                      Secretaria de Desarrollo Económico de Caguas
                    </div>
                  </li><!-- Requirements-->
                  <li style="list-style: none; display: inline">
                    <h3>Requisitos</h3>
                    <ol>
                      <li>
                        <h4>Certificación Reciente de Negativa de Deuda
                        por Todos los Conceptos del CRIM</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://serviciosenlinea.gobierno.pr/crim/"
                          target=
                          "_blank">serviciosenlinea.gobierno.pr/crim</a>
                        </div>
                        <div class="panel-section-inner">
                          $2.50
                        </div>
                      </li>
                      <li>
                        <h4>Certificación de No Deuda del Municipio
                        donde la empresa opera o llevará a cabo su
                        operación</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "http://www.crimpr.net/crimdnn" target=
                          "_blank">crimpr.net/crimdnn</a>
                        </div>
                      </li>
                      <li>
                        <h4>Certificaciones de Cumplimiento de la
                        Administración Para el Sustento de Menores</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "http://www2.pr.gov/Pages/informaciondeformulariosprgovSolicituddeCertificaci%C3%B3ndeCumplimientodeASUME.aspx"
                          target=
                          "_blank">www2.pr.gov/Pages/informaciondeformulariosprgovSolici..</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin Costo
                        </div>
                      </li>
                      <li>
                        <h4>Certificado de “Good Standing”</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://prcorpfiling.f1hst.com/" target=
                          "_blank">prcorpfiling.f1hst.com</a>
                        </div>
                        <div class="panel-section-inner">
                          $100 con fines de lucro y $10 sin fines de
                          lucro
                        </div>
                      </li>
                      <li>
                        <h4>Certificado de Registro del Departamento de
                        Estado</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://prcorpfiling.f1hst.com/" target=
                          "_blank">prcorpfiling.f1hst.com</a>
                        </div>
                        <div class="panel-section-inner">
                          $110 con fines de lucro y $7 sin fines de
                          lucro
                        </div>
                      </li>
                      <li>
                        <h4>Registro de Transacciones comerciales</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "http://www2.pr.gov/agencias/estado/Pages/RegUCC.aspx"
                          target=
                          "_blank">www2.pr.gov/agencias/estado/Pages/RegUCC.aspx</a>
                        </div>
                      </li>
                      <li>
                        <h4>Certificación de Radicación de Planillas de
                        los últimos 5 años</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://colecturia.hacienda.gobierno.pr/Portal/"
                          target=
                          "_blank">colecturia.hacienda.gobierno.pr/Portal</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin Costo
                        </div>
                      </li>
                      <li>
                        <h4>Certificación del Registro de
                        Comerciantes</h4>
                        <div class="panel-section-inner">
                          Registro - <a class=
                          "autoLinked autoLinked-url" href=
                          "https://ivuregistro.hacienda.gobierno.pr/RegistroComerciantes/registro1.aspx"
                          target=
                          "_blank">ivuregistro.hacienda.gobierno.pr/RegistroComerciantes..</a>
                          Aplicación PICO - <a class=
                          "autoLinked autoLinked-url" href=
                          "https://comerciantes.hacienda.pr.gov/"
                          target=
                          "_blank">comerciantes.hacienda.pr.gov</a>
                        </div>
                      </li>
                      <li>
                        <h4>Certificación Reciente de No Deuda
                        Contributiva</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://colecturia.hacienda.gobierno.pr/Portal/"
                          target=
                          "_blank">colecturia.hacienda.gobierno.pr/Portal</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin Costo
                        </div>
                      </li>
                      <li>
                        <h4>Estados Financiero o Copia Ultima Planilla
                        de Contribución sobre Ingresos (si aplica)</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://colecturia.hacienda.gobierno.pr/Portal/"
                          target=
                          "_blank">colecturia.hacienda.gobierno.pr/Portal</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin costo
                        </div>
                      </li>
                      <li>
                        <h4>Certificado del IVU</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://comerciantes.hacienda.pr.gov/"
                          target=
                          "_blank">comerciantes.hacienda.pr.gov</a>
                        </div>
                      </li>
                      <li>
                        <h4>Certificación Actualizada de No Deuda del
                        Seguro Choferil del DTRH (si aplica)</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://serviciosenlinea.gobierno.pr/dtrh/Default.aspx"
                          target=
                          "_blank">serviciosenlinea.gobierno.pr/dtrh/Default.aspx</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin Costo
                        </div>
                      </li>
                      <li>
                        <h4>Certificación Actualizada de No Deuda del
                        Seguro por Desempleo e Incapacidad</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://serviciosenlinea.gobierno.pr/dtrh/Default.aspx"
                          target=
                          "_blank">serviciosenlinea.gobierno.pr/dtrh/Default.aspx</a>
                        </div>
                        <div class="panel-section-inner">
                          Sin Costo
                        </div>
                      </li>
                      <li>
                        <h4>Declaración de Volumen de Negocio</h4>
                        <div class="panel-section-inner">
                          Formulario de acuerdo a municipio, no hay un
                          estandar.
                        </div>
                      </li>
                      <li>
                        <h4>Patente Municipal Vigente</h4>
                        <div class="panel-section-inner">
                          Patente Municipal-Una vez tienes tu permiso
                          de uso, debes ir al municipio en donde
                          establecerás tu negocio para solicitar la
                          patente municipal. Muchos municipios además
                          del Permiso de Uso, te piden que lleves la
                          última planilla personal radicada en
                          Hacienda, certificación negativa de deuda de
                          Hacienda y del CRIM. Mi recomendación, antes
                          de ir al Municipio a solicitar patente, llama
                          antes por teléfono, pide la división de
                          patentes y pregunta cuáles son los documentos
                          que debes llevar contigo para solicitar
                          patente por primera vez. De esta manera te
                          ahorras tiempo.
                        </div>
                      </li>
                      <li>
                        <h4>Permiso de Uso</h4>
                        <div class="panel-section-inner">
                          <a class="autoLinked autoLinked-url" href=
                          "https://www.sip.pr.gov/web/guest/ciudadano/permisos/uso/"
                          target=
                          "_blank">sip.pr.gov/web/guest/ciudadano/permisos/uso</a>
                        </div>
                        <div class="panel-section-inner">
                          $25 - permisos de uso residenciales $100 -
                          permiso de uso comercial
                        </div>
                      </li>
                      <li>
                        <h4>Costo total del proyecto</h4>
                      </li>
                      <li>
                        <h4>Declaración Jurada del solicitante</h4>
                      </li>
                      <li>
                        <h4>Empleos a generarse y nómina anual: Durante
                        la Construcción y Operación</h4>
                      </li>
                      <li>
                        <h4>Seguro Social Patronal</h4>
                      </li>
                    </ol>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-deadline col-9">
          <div class="9-inner-text">
            Jan 30th 2017
          </div>
        </div>
        <div class="col-md-2 col-est-time col-9">
          <div class="9-inner-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
