<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="csrf-token"{% __pyjade_attrs attrs=[('content',(_csrf))], terse=True %}>
    <meta name="author" content="">
    <title>{{title|escape}} | PrimerPeso</title>
    <link rel="stylesheet"{% __pyjade_attrs attrs=[('href',(CDN('/css/styles.css')))], terse=True %}>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body{% __pyjade_attrs attrs=[('class', ((bodyClass)))], terse=True %}>
    <div id="wrap">{% include "partials/navigation.jade" %}
      <div class="container">{% include "partials/flash.jade" %}{% block content %}{% endblock %}
      </div>
    </div>{% include "partials/footer.jade" %}
    <!-- This should be dynamically controlled.-->
    <!-- Set a column variable for all JSON dumps out.-->{% if  formInfo %}
    <script>var formInfo = {{JSON.stringify(formInfo)}}

    </script>{% endif %}
{% if  searchResult %}
    <script>var searchResult = {{JSON.stringify(searchResult)}}

    </script>{% endif %}
    <script type="text/javascript"{% __pyjade_attrs attrs=[('src',(CDN('/js/vendor.min.js')))], terse=True %}></script>
    <script type="text/javascript"{% __pyjade_attrs attrs=[('src',(CDN('/js/main.js')))], terse=True %}></script>{% include "partials/analytics.jade" %}
  </body>
</html>